/* Importera font */
@import url("https://fonts.googleapis.com/css?family=PT+Mono");

* {
  font-family: sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  display:flex; 
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

/* ////////////////////////////////////////////////////////
  ///////// CARD /////////////////////////////////////////////
  ///////////////////////////////////////////////////////////
  */

.title {
  font-size: 12px;
  font-weight: 600;
}

/* Standard kort */
.card {
  background-color: #ffae34;
  border-radius: 8px;
  padding: 10px;
  width: 382px;
  height: 241px;
  position: relative;
  margin: 0 auto;
}

/* Olika kort */
.card.bitcoin {
  background-color: #FFAE34;
  /* Bitcoin color */
}

.card.evil {
  background-color: #F33355;
  /* Evil Corp color */
}

.card.ninja {
  background-color: #222222;
  /* Ninja Bank color */
}

.card.block {
  background-color: #8B58F9;
  /* Block Chain Inc */
}

.vendorlogo {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 70%;
}

.wifilogo {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 25px;
  left: 27px;
  opacity: 100%;
}

.chiplogo {
  width: 50px;
  height: 40px;
  position: absolute;
  top: 75px;
  left: 25px;
  opacity: 100%;
  background-color: #bebebe;
  border-radius: 8px;
}

.number {
  position: absolute;
  top: 130px;
  left: 25px;
  font-family: "PT Mono";
  font-size: 28px;
  font-weight: 400;
  max-width: 335px;
  line-height: 32px;
}

.namedate {
  position: absolute;
  bottom: 10px;
  left: 25px;
  right: 25px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 50px);
  max-width: 100%;
}

.line1,
.line2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.line1 p {
  margin: 0;
  font-size: 12px;
  line-height: 13px;
}

.line2 p {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
}

.activeCard {
  margin-bottom: calc(170px + 40px);
}

.bottomCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottomCards .card {
  margin-top: -175px;
  position: relative;
  z-index: 1;
}

.bottomCards .card:not(:last-child) {
  margin-bottom: -20px;
}

/* ////////////////////////////////////////////////////////
  ///////// HEADER ///////////////////////////////////////////
  ///////////////////////////////////////////////////////////
  */
  .header {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    height: 98px;
    margin: 50px;
 
}
  /* ////////////////////////////////////////////////////////
  ///////// BUTTON /////////////////////////////////////////
  /////////////////////////////////////////////////////////
  */
     .btn {
      margin: 20px;
      padding: 20px;
      height: 80px;
      border-radius: 8px;
      font-family: 'PT Mono';
      font-size: 22px;
      font-weight: 700;
      line-height: 24.64px;
      text-align: center;
      background-color: black;
      color: white;

  }
  .btn.home-button {
    margin: 20px;
    border: 1px solid black;
    padding: 20px;
    height: 80px;
    border-radius: 8px;
    font-family: 'PT Mono';
    font-size: 22px;
    font-weight: 700;
    line-height: 24.64px;
    text-align: center;
    background-color: white;
    color: black;
  }






/* ////////////////////////////////////////////////////////
  ///////// FORM /////////////////////////////////////////
  /////////////////////////////////////////////////////////
  */
.form {
  width: 385px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-section {
  display: grid;
  grid-template-columns: 180px 180px;
  justify-content: space-between;
}

.form-title {
  margin-top: 10px;
  font-size: 12px;
}

.form-input {
  height: 40px;
  border: solid 1px black;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.form-input {
  height: 40px;
  border: solid 1px black;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
}