/* Importera font */
@import url('https://fonts.googleapis.com/css?family=PT+Mono');

body {
    margin: 0px;
    padding: 0px;
}

.card {
  background-color: #FFAE34;
  border-radius: 8px;
  padding: 10px;
  width: 382px;
  height: 241px;
  position: relative;
  margin: 10px auto;
}

.vendorlogo {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 70%;
}

.wifilogo {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 25px;
  left: 25px;
}

.chiplogo {
  width: 50px;
  height: 40px;
  position: absolute;
  top: 75px;
  left: 25px;
}

.number {
  position: absolute;
  top: 123px;
  left: 25px;
  font-family: 'PT Mono';
  font-size: 28px;
  font-weight: 400;
  max-width: 335px;
  line-height: 32px;
}

.namedate {
    position: absolute;
    bottom: 10px;
    left: 25px;
    right: 25px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
    max-width: 100%;
  }
  
  
  .line1,
  .line2 {
    display: flex;
    justify-content: space-between;
  }

  .line1 p {
    margin: 0;
    font-size: 12px;
    line-height: 13px;
  }
  
  .line2 p {
    margin: 0;
    font-size: 18px;
    line-height: 20px;
  }